* {
  margin: 0;
  padding: 0;
}

.header-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.logo {
  margin-left: 30px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  color: #28352f;
  text-align: center;
}

.header-container button {
  border: none;
  outline: none;
  background-color: #fff;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  color: #28352f;
  text-align: center;
  float: right;
}

.headline {
  position: absolute;
  height: 648px;
  top: 68px;
  background: white url(../images/header-illsutration-mobile.png) 100%;
}

.head-title {
  width: 327px;
  height: 192px;
  margin: 68px 24px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: #172b4d;
}

.head-title span {
  color: #36b37e;
}

.head-info {
  width: 327px;
  height: 164px;
  margin: 58px 24px;
  color: #172b4d;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
}

.social-networks {
  width: 60%;
  margin: 0  auto;
}

.social-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  gap: 20px;
}

.social-links i {
  color: #505f79;
  left: 27.31%;
  right: 67.36%;
  top: 73.83%;
  bottom: 23.42%;
  font-size: 20px;
}

.angle-down i {
  position: absolute;
  left: 25%;
  right: 25%;
  top: 37.5%;
  bottom: 37.5%;
  text-align: center;
}

.social-links i:hover {
  color: white;
  background: #36b37f;
  font-size: 20px;
  cursor: pointer;
  padding: 10px;
}

.angle-down {
  position: absolute;
  width: 40px;
  height: 40px;
  left: calc(50% - 40px / 2 + 0.5px);
  bottom: 4px;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 32px;
}

.angle-down:hover {
  color: white;
  background: #36b37f;
  font-size: 20px;
  cursor: pointer;
}
